*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top right, #060606, #020255);
}

.container {
    text-align: center;
    background: rgba(173, 165, 165, 0.249);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #fcf7f7;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 2em;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.cell:hover {
    background: #060f53;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0c2e8b;
    color: white;
    transition: background 0.3s;
}

button:hover {
    background-color: #05aff8;
}

button:active {
    background-color: #060253;
}
